.nav-tabs{
  border: none;
}
.nav-tabs .nav-link {
  border: none;
  border-bottom: 1.5px solid transparent;
  cursor: pointer;
}
.nav-tabs i{
  color: var(--primary);
}
.sub-text *{
color: var(--bgColor2);
}
.nav-tabs .nav-link:hover {
  color: var(--primary);
  border-color: transparent;
}
.nav-tabs .nav-link.active {
  border-color: var(--primary);
}
 h5 span:nth-child(1){
  color: var(--bgColor2);
 }
 h5 span:nth-child(2){
  color: var(--primary);
 }
