main i{
  color: var(--primary);
}
.send-msg{
  background: var(--bgColor);
  border: transparent;
}
.contact-icon{
  background-color: var(--primary);
  width: 3rem;
  aspect-ratio: 1;
}
.enquiry{
  background-color: var(--light);
}