main i{
  color: var(--primary);
}
.send-msg{
  background: var(--bgColor);
  border: transparent;
}
.contact-icon{
  background-color: var(--primary);
  padding:0.7rem;
}
.enquiry{
  background-color: var(--light);
}
.form-control:hover, .form-control:focus{
  border: 1px solid var(--bgColor2);
}